
<div class="row">
    <div class="col-xs-12 col-sm-12">
      {% if page.certificates %}
        <div class="block-title">
        <h3>Certificates</h3>
      </div>
      {% endif %}
    </div>
</div>

<div class="row">
    {% for certificate in page.certificates %}
    <!-- Certificate 1 -->
    <div class="col-xs-12 col-sm-6">
        <div class="certificate-item clearfix">
            <div class="certi-logo">
                <img src="{{certificate.image | strip_html }}" alt="logo">
            </div>
            <div class="certi-content">
                <div class="certi-title">
                    <h4>{{certificate.title | strip_html }}</h4>
                </div>
                <div class="certi-id">
                    <span>{{certificate.id | strip_html }}</span>
                </div>
                <div class="certi-date">
                    <span>{{certificate.date | strip_html }}</span>
                </div>
                <div class="certi-company">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Certificate 1 -->
    {% endfor %}
</div>
