
<div class="info-list">
    <ul>
        {% if page.residence %}
        <li>
        <span class="title">Residence</span>
        <span class="value">{{page.residence | strip_html }}</span>
        </li>
        {% endif %}

        {% if page.site %}
        <li>
        <span class="title">Web Site</span>
        <span class="value"><a href="{{page.site | strip_html }}" target="_blank">{{page.site | strip_html }}</a></span>
        </li>
        {% endif %}
        
        

    </ul>
</div>

    <div class="social-links">
        <ul>
            {% if page.email %}
                <li><a href="{{page.email | strip_html }}" target="_blank"><i class="far fa-envelope"></i></a></li>
            {% endif %}
            
            {% if page.github %}
                <li><a href="{{page.github | strip_html }}" target="_blank"><i class="fab fa-github"></i></a></li>
            {% endif %}

            {% if page.gitlab %}
                <li><a href="{{page.gitlab | strip_html }}" target="_blank"><i class="fab fa-gitlab"></i></a></li>
            {% endif %}

            {% if page.instagram %}
                <li><a href="{{page.instagram | strip_html }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
            {% endif %}

            {% if page.twitter %}
                <li><a href="{{page.twitter | strip_html }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
            {% endif %}

            {% if page.linkedin %}
                <li><a href="{{page.linkedin | strip_html }}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            {% endif %}
          
        </ul>
    </div>


